.plugins .active td,
.plugins .active th {
    background: #F2FFE9;
}
.plugins .active th.check-column {
    border-color: #7ad03a;
}
.plugins .enabled td,
.plugins .enabled th {
    background: #f7fcfe;
}
.plugins .enabled th.check-column {
    border-left: 4px solid #2ea2cc;
}
.plugin-install #the-list td,
.plugins .active td,
.plugins .active th,
.plugins .inactive td,
.plugins .inactive th,
.upgrade .plugins td,
.upgrade .plugins th,
.plugins .enabled td,
.plugins .enabled th {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
}